service: document-evidence-frontend

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-west-2
  stage: ${opt:stage}
  apiGateway:
    shouldStartNameWithService: true
  timeout: 30
  tracing:
    apiGateway: true
    lambda: true

package:
  individually: true
  patterns:
    - '!./**'

functions:
  document-evidence-frontend:
    name: ${self:service}
    handler: src/lambda.handler
    timeout: 30
    package:
      patterns:
        - auth-groups.json
        - src/lambda.js
        - teams.json
        - next.config.js
        - 'public/**'
        - build/_next/BUILD_ID
        - 'build/_next/*.json'
        - 'build/_next/server/**'
        - 'build/_next/static/**'
        - 'node_modules/**'
        - '!node_modules/@next/swc-linux-x64-gnu'
        - '!node_modules/@next/swc-linux-x64-musl'
        - '!node_modules/typescript'

    events:
      - http: ANY /
      - http: ANY /{proxy+}
    vpc:
      securityGroupIds: ${self:custom.securityGroups.${self:provider.stage}}
      subnetIds: ${self:custom.subnets.${self:provider.stage}}
    environment:
      APP_ENV: ${self:provider.stage}
      APP_URL: https://${ssm:/document-evidence-service-frontend/${self:provider.stage}/app-url}
      EVIDENCE_API_BASE_URL: ${ssm:/evidence-api/${self:provider.stage}/base-url}
      EVIDENCE_API_TOKEN_DOCUMENT_TYPES_GET: ${ssm:/evidence-api/${self:provider.stage}/get/document_types/token}
      EVIDENCE_API_TOKEN_EVIDENCE_REQUESTS_GET: ${ssm:/evidence-api/${self:provider.stage}/get/evidence_requests/token}
      EVIDENCE_API_TOKEN_EVIDENCE_REQUESTS_POST: ${ssm:/evidence-api/${self:provider.stage}/post/evidence_requests/token}
      EVIDENCE_API_TOKEN_EVIDENCE_REQUESTS_PATCH: ${ssm:/evidence-api/${self:provider.stage}/patch/evidence_requests/token}
      EVIDENCE_API_TOKEN_DOCUMENT_SUBMISSIONS_GET: ${ssm:/evidence-api/${self:provider.stage}/get/document_submissions/token}
      EVIDENCE_API_TOKEN_DOCUMENT_SUBMISSIONS_POST: ${ssm:/evidence-api/${self:provider.stage}/post/document_submissions/token}
      EVIDENCE_API_TOKEN_DOCUMENT_SUBMISSIONS_PATCH: ${ssm:/evidence-api/${self:provider.stage}/patch/document_submissions/token}
      EVIDENCE_API_TOKEN_RESIDENTS_GET: ${ssm:/evidence-api/${self:provider.stage}/get/residents/token}
      EVIDENCE_API_TOKEN_RESIDENTS_POST: ${ssm:/evidence-api/${self:provider.stage}/post/residents/token}
      EVIDENCE_API_TOKEN_RESIDENTS_PATCH: ${ssm:/evidence-api/${self:provider.stage}/patch/residents/token}
      DOCUMENTS_API_BASE_URL: ${ssm:/documents-api/${self:provider.stage}/base-url}
      DOCUMENTS_API_GET_DOCUMENTS_TOKEN: ${ssm:/documents-api/${self:provider.stage}/get/documents/token}
      DOCUMENTS_API_GET_CLAIMS_TOKEN: ${ssm:/documents-api/${self:provider.stage}/get/claims/token}
      FEEDBACK_FORM_RESIDENT_URL: ${ssm:/evidence-api/${self:provider.stage}/feedback-form-resident-url}
      FEEDBACK_FORM_STAFF_URL: ${ssm:/evidence-api/${self:provider.stage}/feedback-form-staff-url}
      HACKNEY_COOKIE_NAME: hackneyToken
      HACKNEY_JWT_SECRET: ${ssm:/common/hackney-jwt-secret}
      NEXT_PUBLIC_APP_ENV: ${self:provider.stage}
      NEXT_PUBLIC_GOOGLE_ANALYTICS_ID: ${ssm:/document-evidence-service-frontend/${self:provider.stage}/google-analytics-account-code}
      NEXT_PUBLIC_SENTRY_RELEASE: $CIRCLE_SHA1
      SENTRY_RELEASE: $CIRCLE_SHA1
resources:
  Resources:
    CloudFrontDistribution:
      Type: AWS::CloudFront::Distribution
      Properties:
        DistributionConfig:
          PriceClass: PriceClass_100
          DefaultCacheBehavior:
            TargetOriginId: ${self:service}-${self:provider.stage}-custom-origin
            ViewerProtocolPolicy: 'redirect-to-https'
            AllowedMethods:
              - GET
              - HEAD
              - OPTIONS
              - PUT
              - PATCH
              - POST
              - DELETE
            DefaultTTL: 0
            MaxTTL: 0
            MinTTL: 0
            ForwardedValues:
              QueryString: true
              Cookies:
                Forward: all
          Enabled: true
          Origins:
            - Id: ${self:service}-${self:provider.stage}-custom-origin
              DomainName: ${self:custom.domain-name}
              OriginPath: /${self:provider.stage}
              CustomOriginConfig:
                HTTPPort: 80
                HTTPSPort: 443
                OriginProtocolPolicy: https-only

custom:
  domain-name:
    Fn::Join:
      - '.'
      - - Ref: ApiGatewayRestApi
        - execute-api
        - eu-west-2
        - amazonaws.com
  certificate-arn:
    staging: arn:aws:acm:us-east-1:549011513230:certificate/0497c31a-63ad-41d7-bca6-7d0896a6100d
  securityGroups:
    staging:
      - sg-012b551e32735b814
    production:
      - sg-0aec95d4186282262
  subnets:
    staging:
      - subnet-0aa5f484db1aa801c
      - subnet-012870b02db9a3bf8
    production:
      - subnet-0e6bc9b4ac24493cc
      - subnet-05e595c59b7d6c8df
