version: 2.1

orbs:
  aws_assume_role: lbh-hackit/aws_assume_role@0.1.0
  cypress: cypress-io/cypress@3
  node: circleci/node@7
  sonarcloud: sonarsource/sonarcloud@2

executors:
  node:
    docker:
      - image: cimg/node:20.18.2-browsers
    working_directory: ~/project
  docker-terraform:
    docker:
      - image: "hashicorp/terraform:light"
  python:
    docker:
      - image: cimg/python:3.7

references:
  workspace_root: &workspace_root '~'
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Commands ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
commands:
  assume-role-and-persist-workspace:
    description: 'Assumes deployment role and persists credentials across jobs'
    parameters:
      aws-account:
        type: string

    steps:
      - checkout
      - aws_assume_role/assume_role:
          account: <<parameters.aws-account>>
          profile_name: default
          role: 'LBH_Circle_CI_Deployment_Role'
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .aws

    # Preview terraform before applying
  terraform-init-then-preview:
    description: "Initializes and applies terraform configuration"
    parameters:
      environment:
        type: string
    steps:
      - *attach_workspace
      - checkout
      - run:
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform get -update=true
            terraform init
          name: get and init
      - run:
          name: preview
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform plan
    # Apply terraform
  terraform-init-then-apply:
    description: "Initializes and applies terraform configuration"
    parameters:
      environment:
        type: string
    steps:
      - *attach_workspace
      - checkout
      - run:
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform get -update=true
            terraform init
          name: get and init
      - run:
          name: apply
          command: |
            cd ./terraform/<<parameters.environment>>/
            terraform apply -auto-approve

  deploy-lambda:
    description: 'Deploys application'
    parameters:
      stage:
        type: string
        default: staging
    steps:
      - *attach_workspace
      - checkout
      - run:
          name: Install serverless CLI
          command: sudo npm i -g serverless
      - run:
          name: Deploy application
          command: |
            npm prune --omit=dev                      
            sls deploy -s <<parameters.stage>>

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Jobs ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
jobs:
  build:
    executor: node
    steps:
      - *attach_workspace
      - checkout
      - node/install-packages
      - run:
          name: Build Next application
          command: npm run build --omit=dev
      - persist_to_workspace:
          root: *workspace_root
          paths:
            - .

  lint-and-test:
    executor: node
    steps:
      - *attach_workspace
      - checkout
      - run:
          name: Run linter
          command: npm run lint:ci
      - run:
          name: Run prettier
          command: npm run prettier:test
      - run:
          name: Run unit tests
          command: npm run test:unit:ci
          environment:
            JEST_JUNIT_OUTPUT_DIR: test_results
            JEST_JUNIT_ADD_FILE_ATTRIBUTE: 'true'
      - store_test_results:
          path: test_results
      - store_artifacts:
          path: coverage

  run-cypress-e2e:
    executor: node
    steps:
      - *attach_workspace
      - checkout
      - run:
          name: Copy envs
          command: cp .env.sample .env
      - cypress/install
      - cypress/run-tests:
          start-command: npm run start:ci
          cypress-command: npx wait-on http-get://127.0.0.1:3000/api/ping && npx cypress run
      - store_test_results:
          path: cypress/results
      - store_artifacts:
          path: cypress/results

  sonar-scan:
    executor: node
    steps:
      - *attach_workspace
      - checkout
      - sonarcloud/scan

  # Infrastructure changes preview:
  preview-terraform-dr-changes:
    executor: docker-terraform
    steps:
      - terraform-init-then-preview:
          environment: "production"
  # Infrastructure deployment:
  terraform-init-and-apply-to-dr:
    executor: docker-terraform
    steps:
      - terraform-init-then-apply:
          environment: "production"

  assume-role-disaster-recovery:
    executor: python
    steps:
      - assume-role-and-persist-workspace:
          aws-account: $AWS_ACCOUNT_DISASTER_RECOVERY

  deploy-dr:
    executor: node
    steps:
      - deploy-lambda:
          stage: production

  assume-role-staging:
    executor: python
    steps:
      - assume-role-and-persist-workspace:
          aws-account: $AWS_ACCOUNT_STAGING

  assume-role-production:
    executor: python
    steps:
      - assume-role-and-persist-workspace:
          aws-account: $AWS_ACCOUNT_PRODUCTION

  deploy-staging:
    executor: node
    steps:
      - deploy-lambda:
          stage: staging

  deploy-production:
    executor: node
    steps:
      - deploy-lambda:
          stage: production

# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Workflows ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #
workflows:
  version: 2
  continuous-delivery:
    jobs:
      - build

      - lint-and-test:
          requires:
            - build

      - run-cypress-e2e:
          requires:
            - build

      - sonar-scan:
          context: SonarCloud
          requires:
            - lint-and-test

      - assume-role-disaster-recovery:
          requires:
            - build
          context:
            - api-assume-role-disaster-recovery-context
          filters:
            branches:
              only:
                - dr-testing

      - preview-terraform-dr-changes:
          requires:
            - assume-role-disaster-recovery

      - permit-terraform-dr-changes:
          type: approval
          requires:
            - preview-terraform-dr-changes

      - terraform-init-and-apply-to-dr:
          requires:
            - permit-terraform-dr-changes

      - permit-release-dr:
          type: approval
          requires:
            - terraform-init-and-apply-to-dr

      - deploy-dr:
          context:
            - 'Serverless Framework'
          requires:
            - terraform-init-and-apply-to-dr

      - assume-role-staging:
          context:
            - api-assume-role-document-evidence-store-staging-context
          requires:
            - build
            - run-cypress-e2e
            - lint-and-test
          filters:
            branches:
              only:
                - main

      - deploy-staging:
          context:
            - 'Serverless Framework'
          requires:
            - assume-role-staging

      - permit-deploy-production:
          type: approval
          requires:
            - deploy-staging

      - assume-role-production:
          context: api-assume-role-document-evidence-store-production-context
          requires:
            - permit-deploy-production

      - deploy-production:
          context:
            - 'Serverless Framework'
          requires:
            - assume-role-production
