.dialog {
  position: relative;
  border: 5px solid #0b0c0c;
  z-index: 5;
  width: 90vw;
  max-width: 600px;
  margin-top: 13vh;

  @media screen and (min-width: 600px) {
    width: 600px;
  }

  *:first-child {
    margin-top: 0;
  }
}

.actions {
  margin-top: 30px;

  *:first-of-type {
    margin-bottom: 15px;
  }

  @media screen and (min-width: 600px) {
    display: flex;
    flex-direction: row;
    align-items: center;

    *:first-of-type {
      margin-bottom: 0px;
      margin-right: 15px;
    }
  }
}
