.dialog {
  position: relative;
  border: 5px solid #0b0c0c;
  z-index: 5;
  width: 90vw;
  max-width: 600px;

  @media screen and (min-width: 600px) {
    width: 600px;
  }

  *:first-child {
    margin-top: 0;
  }
}
