$lbh-asset-path: '~lbh-frontend/lbh/assets';

@import 'node_modules/lbh-frontend/lbh/all';

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: inherit;
}

* {
  box-sizing: border-box;
}

.lbh-link:visited {
  // no other way to override inline styles
  color: #025ea6 !important;
  &:hover {
    color: #0085ca;
  }
  &:focus {
    color: #0b0c0c !important;
  }
}

// widen default container to fit our ui
.lbh-container {
  max-width: 1100px !important;
}

// fix spacing bug
.lbh-form-group {
  margin-bottom: 30px !important;
}
.lbh-radios {
  margin-top: 20px !important;
}

// counteract z-index on the header
[data-reach-dialog-overlay] {
  z-index: 5;
}

// counteract weird padding class we don't want or need
.padding {
  padding: 0 !important;
}

// properly space breadcrumb divider inside headings
.lbu-divider {
  margin: 0 10px;
}

// visually hidden but screen reader visible ui elements
.lbu-visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

// properly space out headings
h3 {
  margin-top: 35px;
  @media screen and (min-width: 700px) {
    margin-top: 45px;
  }
}

// override broken button margins
.lbh-button--start {
  margin-bottom: 35px !important;
}

.lbh-link--red {
  margin-left: 10px;
  color: #be3a34 !important;
  &:link {
    color: #be3a34 !important;
  }
  &:visited {
    color: #be3a34 !important;
  }
  &:focus {
    color: inherit !important;
  }
}

.lbh-rejection-reason {
  color: lbh-colour('lbh-grey-1');
}

.evidence-list {
  padding-left: 15px;
}
