.card {
  padding: 25px;
  @media screen and (min-width: 700px) {
    display: flex;
    flex-direction: row;
    padding: 45px;
  }

  img {
    display: block;
    margin: auto;
  }
}

.govuk-button:link {
  color: #00513f !important;
}

.inner {
  margin-bottom: 25px;

  @media screen and (min-width: 700px) {
    max-width: 66.67%;
    margin-bottom: 0px;
    margin-right: 35px;
  }

  *:first-child {
    margin-top: 0;
  }
  *:last-child {
    margin-bottom: 0;
  }
}
